<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/CSS/site.css" />
</head>
<center>
    <h1>Welcome to my Weather API Website</h1>
    <a href="/Weather/GetWeather/">Get the weather for any city in the World!</a>
</center>





